<ul>
    <li *ngFor="let element of data">
      <ul>&#123;
        <li *ngFor="let row of element | keys" [ngSwitch]="row.value | typeof">
          <div *ngSwitchCase="'string'">
            <div>{{row.value}}</div>
          </div>
          <div *ngSwitchCase="'number'">
            <div>{{row.value}}</div>
          </div>
          <div class="row" *ngSwitchCase="'object'">
              <div>
                <label>
                  <input [(ngModel)]="checked" type="checkbox"/>
                </label>
                <span [hidden]="checked">&#123;...&#125;</span>
              </div>
              <div>
                <app-root [hidden]="!checked" [data]="row.value"></app-root>
              </div>
          </div>
        </li>
        &#125;
      </ul>
    </li>
</ul>

